beautifulsoup4==4.15.0
cloud-sql-python-connector[pg8000]==1.21.0
pg8000==1.31.5
python-dotenv==1.2.2
requests==2.34.2
google-cloud-bigquery
dbt-bigquery
jinja2>=3.1.5,<3.2.0
click==8.2.1
scikit-learn
joblib
google-cloud-storage
pandas-gbq